@import './components/themes';
@import './components/layout';
@import './components/navbar';
@import './components/container';
@import './components/hero';
@import './components/card';

.card1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/tulip.jpeg);
}

.card2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/tulip2.jpeg);
}

.card3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/tulip3.jpeg);
}

.card4 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/tulip4.jpeg);
}
